.home-select{font-weight:normal;font-size:1.2em;}
.press-select{font-weight:bolder;font-size:1.4em;}
@media only screen and (max-width:590px){.bignavlinks a.press-select{font-size:1.2em!important;}}
.page-content a{color:#da810f!important;font-weight:bold;}

.imgrev{text-align:center;}
.imgrev img{max-width:100%;}

