.home-select{font-weight:normal;font-size:1.2em;}
.shows-select{font-weight:bolder;font-size:1.4em;}
@media only screen and (max-width:535px){.bignavlinks a.shows-select{font-size:1.2em!important;}}

.page-content{max-width:800px;padding:0.5em 1.5em 0 1.5em;margin:auto;z-index:0;}
.page-content ul{width:100%;padding:0;margin-bottom:3.5em;}
.page-content ul li {position:relative;display: table;width: 100%;border-radius:10px;margin:2em 0 2em 0;}
.page-content ul li:hover{background-color:#f9d6a9;} /* normally hovering changes background color */
.keepoverlay:hover{background-color:rgba(0,0,0,0)!important;} /* unless elements have this element - cancels effect when overlay is on*/
.page-content ul li span {
	width:25%;
    padding: 0.5em 1.0em;
    vertical-align: middle;
    display: table-cell;
    height: 2.1em; text-align:left;
}
.page-content ul li span:last-child{width:50%;text-align:right;}

/*#ef9623*/


@media only screen and (max-width:600px){
	.page-content ul li span,.page-content ul li span:last-child{
		width:100%;display:block;text-align:center;vertical-align:middle;height:100%;padding:0.2em 0 0.2em 0;
	}
	.page-content ul li{padding:1em;left:-1em;}
}

@media only screen and (max-width:450px){
	.page-content{padding:1em;margin:auto;}
	.wrapper{padding:0.5em;}
}