<footer class='container padding-16'>
<!-- bottom line -->
	<p class='line'></p>
<div class='socialmedia'>
<span><a href='mailto:info@brivele.com'>info@brivele.com</a></span>
<span><a href='https://www.facebook.com/brivele/'>Facebook</a></span>
<span><a href='https://www.instagram.com/brivelemusic/'>Instagram</a></span>
<!--<span><a href='https://soundcloud.com/brivele'>Soundcloud</a></span>-->
<span><a href='https://www.youtube.com/channel/UCmr6wOxFd3DQY7nJqINhQqw'>YouTube</a></span>
<span><a href='https://brivele.bandcamp.com/'>Bandcamp</a></span>
<span><a href='https://docs.google.com/document/d/14X-0dFzdZRpA9br0RUm4988iNKWJThPbKsdkeYUDREw/edit?usp=sharing'>EPK</a></span>
<span><a href='{{outdirs}}/#mc_anchor'>Subscribe</a></span>
<!--<span>|YouTube|</span>-->
</div>
<div class='cp'>
<span>Copyright 2019 BRIVELE</span>
</div>
</footer>