<head>
    <meta charset='utf-8'>
    <title>{{title}} | BRIVELE </title>
	<!--<title>BRIVELE</title>-->
	<meta name='keywords' content='brivele, brivele.com, music, klezmer, Seattle, trio, band'/>
	<link rel='icon' href='../images/favicon-32x32.png'>
	<link rel="canonical" href="https://www.brivele.com/">
	<meta id='viewport' name='viewport' content='width=device-width, initial-scale=1'/>
	<!-- STYLES -->
	<link rel='stylesheet' type='text/css' href='../css/general_style.css'/>
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato'/>
	<link rel='stylesheet' type='text/css' href='../css/font-awesome.min.css'/>
	<!-- page-specific stylesheets -->
	<link rel='stylesheet' type='text/css' href='/css/{{title}}.css'/>
	
	<!-- SCRIPTS -->
	<script type='text/javascript' src='../js/googleanalytics.js'></script>
	<script type='text/javascript' src='../js/jquery-3.1.1.min.js'></script>
	<script type='text/javascript' src='../js/general_fxns.js'></script>
</head>

	<!--////////////////////////////////////////////////////////////////// -->