<header>
  <div class='navbar-bars' style='display:none;' onclick='togglemenu();'><i class='fa fa-bars fa-2x'></i> <span></span></div>
  <div class='name'><a href='/'><img src='../images/palindrome.png' title='BRIVELE' alt-text='BRIVELE'></a></div>

<!--Navbar for big screens -->
  <nav class='bignavlinks'>
  	  <a class='home-select' href='/'>Home</a>
	  <a class='manifesto-select' href='/manifesto'>Manifesto</a>
	  <a class='media-select' href='/media'>Media</a>
	  <a class='cc-select' href='/coconspirators'>Coconspirators</a>
	  <a class='shows-select' href='/shows'>Shows</a>
	  <a class='store-select' href='https://brivele.bandcamp.com/merch'>Store</a>
  </nav>
  
<!-- bottom line -->
	<p class='line'></p>

<!-- Alt navbar (slide down from bars, for small screens) -->
	<nav class='smallnavlinks' style='display:none;'>
	<ul>
	  <a class='home-select' href='/'><li>Home</li></a>
	  <a class='manifesto-select' href='/manifesto'><li>Manifesto</li></a>
	  <a class='media-select' href='/media'><li>Media</li></a>
	  <a class='cc-select' href='/coconspirators'><li>Coconspirators</li></a>
	  <a class='store-select' href='https://brivele.bandcamp.com/merch'><li>Store</li></a>
	</ul>
	</nav>
</header>
<!-- Overlay effect when opening topnav on small screens -->
<div class='overlay' onclick='togglemenu();' title='close menu' id='overlaybkgrnd'></div>
