<head>
    <meta charset='utf-8'>
    <title>{{title}} | BRIVELE </title>
	<!--<title>BRIVELE</title>-->
	<meta name='keywords' content='brivele, brivele.com, music, klezmer, Seattle, trio, band, brivele music, brivele band, Yiddish'/>
	<link rel='icon' href='../images/favicon-32x32.png'>
	<link rel='canonical' href='https://www.brivele.com/'>
	<meta id='viewport' name='viewport' content='width=device-width, initial-scale=1'/>
	<!-- STYLES -->
	<link rel='stylesheet' type='text/css' href='../css/general_style.css'/>
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato'/>
	<link rel='stylesheet' type='text/css' href='../css/font-awesome.min.css'/>
	<!-- page-specific stylesheets -->
	<link rel='stylesheet' type='text/css' href='/css/{{title}}.css'/>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-99307928-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-99307928-2');
	</script>
	<!-- SCRIPTS -->
	<script type='text/javascript' src='../js/jquery-3.1.1.min.js'></script>
	<script type='text/javascript' src='../js/jquery.touchwipe.min.js'></script>
	<script type='text/javascript' src='../js/general_fxns.js'></script>
	<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
	<script type='text/javascript' src='../js/mailchimpscript.js'</script>
	<!-- mailchimp 
	<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/0eba332778a4c9bc308cd72b1/89f081131f4342e1d5d6a9fc1.js");</script>-->
	<!-- page-specific scripts -->
	<script type='text/javascript' src='/js/{{title}}.js'></script>
</head>

	<!--////////////////////////////////////////////////////////////////// -->