.about-select{font-weight:bolder;font-size:1.4em;}
@media only screen and (max-width:650px){
	#blurb figure{padding:0;margin:0;width:100%;}
	#blurb figure img{max-width:100%;}
	#blurb p{clear:left;padding-top:1em;}
}
figcaption {font-size:0.8em;font-style:italic;}
