.about-select{font-weight:normal;font-size:1.2em;}
.media-select{font-weight:bolder;font-size:1.4em;}
@media only screen and (max-width:590px){.bignavlinks a.media-select{font-size:1.2em!important;}}
h1{text-align:center;background-color:#f9d6a9;}
.bandcampembed,.soundcloudembed{
	max-width:500px;
	margin:auto;
}
.soundcloudembed,.videoembed{width:100%;text-align:center;}
.soundcloudembed>.playlist{margin:1.8em 0}
.photo,.sights div{padding:1.2em;text-align:center;}
.playlist span.caption,.photo span.caption,.video span.caption, .sights span.caption{display:block;padding-bottom:0.5em;}
.video {margin:2em;}
.video iframe{width: 560px;max-width:100%;}


/*--- photo grid ---*/
.sightspocket {
    width:100%;
    position:relative;
    padding:8px;
}
.sights {
    position:relative;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
/* images */
.sights div, .sights img{display:inline-block;width:150px;height:150px;}
.sights div{margin:1em 1.5em;}
.sights img {-webkit-transition:opacity 0.3s;transition:opacity 0.3s;} /*for hover opacity*/
.sights img:hover{opacity:0.6;cursor:pointer;}
.sights span.total{color:#808080;font-style:italic;}


/*--- photo overlay ---*/
#photo-overlay{
    z-index:3;
    display:none;
    position:fixed;
    top:0;left:0;bottom:0;right:0;
    width:100%;height:100%;
    background-color:rgba(0,0,0,0.7);
}
.showidcontainer{
    width:100%;position:absolute;
    z-index: 3;
    background-color:rgba(0,0,0,0.7);
    margin:auto;text-align:center;
    margin-top:0em;
    font-size:1.2em;
}
.theidoftheshow{
    max-width:100%;
    color:white;
    margin:auto;
    font-weight:bolder;
    text-align:center;
    padding:0.7em;
}
.downup{padding-right:0.5em;font-size:0.5em;}
.showid{
    cursor:pointer;
    display:none;
    position:fixed;
    z-index: 4;
    background-color:rgba(0,0,0,0.8);
    margin:auto;
    margin-top:0em;
    font-size:0.9em;
    padding:0.3em;
    color:white;
    font-weight:bolder;
}
.thisphoto{
    position:relative;
    height:70%;
    max-width:100%;
    margin:0;
    top:15%;
    text-align:center;
    vertical-align:center;
    background-color:rgba(0,0,0,0.7);
    cursor:pointer;
}
figure, video{
    position:relative;
    max-width:90%;
    height:90%;top:5%;
    margin:0;
    padding:0 1em;
    text-align:center;
}
video{margin-top:1em;z-index:4;}
figure>img, video>source {
    z-index:3;
    max-width:100%;
    max-height:100%;
    position:relative;
    text-align:center;
    top:50%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
}
#leftside,#rightside {
    position:absolute;
    top:0;
    height:100%;
    padding:0;
    z-index:3;
}
#leftside{width:50%;margin-right:50%;}#rightside{width:50%;margin-left:50%;}
.xit,.larr,.rarr{
    position:absolute;
    color:white;
    z-index:5;cursor:pointer;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.xit{font-size:3em;line-height:0;right:0;opacity:1;display:inline-block;padding:0.3em;}
.larr,.rarr{
    font-size:2.2em;top:45%;margin:0;
    opacity:0.5;
}
.larr{text-align: left;left:2%;}
.rarr{text-align: right;right:2%;}
.larr:hover,.rarr:hover{opacity:1!important;}

/* sometimes-appearing info under photos */
.promo{position:absolute;z-index:4;width:100%;font-size:1.3em;}
.promo span{
    position:relative;z-index:4;margin:auto;padding:0.5em;border-radius:0.3em;
    background-color:rgba(255,255,255,0.9);cursor:pointer;
}
.promo span i{padding-right:0.5em;}
.promo span a{text-decoration: none;}

.attribution-container{
    position:absolute;width:100%;
    bottom:0;text-align:center;display:none;
    background-color:rgba(0,0,0,0.8);z-index:5;cursor:auto;
    font-size:1.2em;padding:0.3em;
}
.attribution{
    position:relative;
    color:white;padding:0.5em;
    margin:auto;
    font-weight:bolder;
    font-style:italic;
    text-align:center;
}
.attribution a{color:white;cursor:pointer;}

/* small screens */
@media only screen and (max-width:450px), (max-height:450px) {
    .larr,.rarr{opacity:1!important;color:white!important;}
    .thisphoto{height:100%!important;top:0;}
    /*.showidcontainer,.showid{position:fixed;bottom:0;right:5px;z-index:4;}*/
    .showidcontainer,.showid{position:fixed;top:0;text-align:left;
        margin-left:0;width:80%;padding:0.1em;font-size:1em;z-index:5;}
    .attribution-container,.attribution{font-size:1em;padding:0.2em;max-width:90%;}
    .downup{display:inline-block;padding-right:0.5em;}
    .xit{font-size:4em;line-height:0;right:0;opacity:1;display:inline-block;padding:0.3em;}
}


