.about-select{font-weight:normal;font-size:1.2em;}
.media-select{font-weight:bolder;font-size:1.4em;}
@media only screen and (max-width:535px){.bignavlinks a.media-select{font-size:1.2em!important;}}

.wrapper{text-align:center;}
#soundcloudembed{
	max-width:500px;
	margin:auto;
}
.playlist,.photo{padding:1.2em;text-align:left;}
.playlist span,.photo span{display:block;padding-bottom:0.5em;}
