/* STYLES */
h2{text-align: center}
h1{margin:0;}
.main{padding:1.5em;}
body{max-width:1600px;background-color:#FDF0DF;}
ul{text-align:left;}
a,a:visited,a:hover,a:active{color:black;}
.about-select{font-weight:bolder;font-size:1.4em;}